PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/zeynep-portfolio
FRONTEND_URL=http://localhost:3000
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password
ADMIN_EMAIL=zeynepsude.ogan@agu.edu.tr
NODE_ENV=development
